body {
    margin: 0;
    padding: 0;
    background: url('background.svg') center center / cover no-repeat fixed;
    height: 100%;
}

span.form-control {
    padding: 5px !important;
}

.logo {
    margin-left: 5%;
}

.required:after {
    content: "*";
    color: red;
    padding-left: 3%;
    position: absolute;
}

.title {
    display: inline;
    vertical-align: middle;
    margin-left: 5% !important;
}

.page-header {
    margin: 10px 0 10px !important;
}

.panel-totvs {
    color: #FFFFFF !important;
    background: #00A9C7 !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.animate {
    opacity: 1;
}

.animate.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
}

.animate.ng-enter {
    opacity: 0;
}


/*
.animate.ng-leave {
    opacity: 1;
}
*/

.animate.ng-enter-active {
    opacity: 1;
}

.animate.ng-leave-active {
    opacity: 0;
}

input.ng-invalid {
    border-color: #ff0000 !important;
}